body {
  overflow: hidden;
  margin: 0;
}

.background {
  position: fixed;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.background-white {
  background: #ffffff;
}

.background-black {
  background: #000000;
}

.icon {
  position: absolute;
  z-index: 1;
  width: 70%;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.accent-icon {
  position: fixed;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.accent-select {
  position: fixed;
  z-index: -3;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accent-select-post-exit {
  position: fixed;
  z-index: -3;
  fill:#000000;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.genesis-accent-select {
  fill:none;
  animation: draw 1s, fillBlack 0.5s 0.7s forwards;
}

.genesis-ghost-accent-select {
  fill:#ffffff;
  position: fixed;
  z-index: -4;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: draw 0.9s forwards, expandFillPageGhost 1s 0.9s forwards;
}

@keyframes fillBlack {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #000000;
  }
}

.select-exit {
  position: fixed;
  z-index: 1;
  right: 10%;
  bottom: 10%;
}

.genesis-select-exit {
  stroke-dashoffset: 1;
  animation: draw 0.3s 1.1s forwards, rotateGenesisSelectExit 0.3s 1.3s forwards;
}

.click-select-exit {
  transform: rotate(135deg);
  animation: clickedContractionNoTransform 0.2s, exitClickRotate 0.3s 0.2s forwards, eraseClickSelectExit 0.3s 0.5s forwards;  
}

@keyframes exitClickRotate {
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotateGenesisSelectExit {
  100% {
    transform: rotate(135deg);
  }
}

.expand-fill-page {
  fill:#000000;
  animation: expandFillPage 1s forwards;
  animation-delay: 0.65s;
}

@keyframes expandFillPage {
  100% {
    transform: translate(-50%, -50%) scale(20);
  }
}

@keyframes expandFillPageGhost {
  100% {
    transform: translate(-50%, -50%) scale(20);
  }
}


.animate-clicked {
  animation: clickedContraction 0.15s, erase 0.5s 0.15s forwards;
}

@keyframes clickedContraction {
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

}

@keyframes clickedContractionNoTransform {
  50% {
    transform: rotate(135deg) scale(0.7);
  }
  100% {
    transform: rotate(135deg) scale(1);
  }

}




.exit-animation-select-accent {
  fill:#000000;
  transform: translate(-50%, -50%) scale(20);
  animation: contractToNormal 2s forwards;
  animation-delay: 0.5s;
}


@keyframes contractToNormal {
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.select-resources {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 55%;
}

.select-about {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 60%;
}



.detail {
  position: fixed;
  z-index: 1;
  fill: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: draw 1s forwards,;
}

.highlight-green:hover {
  filter: invert(21%) sepia(8%) saturate(3227%) hue-rotate(95deg) brightness(92%) contrast(85%);
}

.disabled {
  pointer-events:none
}

.fade-hide {
  z-index: -3;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-erase {
  animation: erase 0.5s 0.15s forwards;
}

.animate-draw {
  animation: draw 0.75s forwards;
}

@keyframes eraseClickSelectExit {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1;
  }
}


@keyframes erase {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}




